{% extends 'base.html' %}
{% block content %}

<h3 class="mb-3">Edit Patient</h3>

<form method="POST" class="card p-4 shadow">
  {% csrf_token %}

  <div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" class="form-control" value="{{ patient.name }}" required>
  </div>

  <div class="mb-3">
    <label>Age</label>
    <input type="number" name="age" class="form-control" value="{{ patient.age }}" required>
  </div>

  <div class="mb-3">
    <label>Gender</label>
    <select name="gender" class="form-control">
      <option {% if patient.gender == "Male" %}selected{% endif %}>Male</option>
      <option {% if patient.gender == "Female" %}selected{% endif %}>Female</option>
      <option {% if patient.gender == "Other" %}selected{% endif %}>Other</option>
    </select>
  </div>

  <div class="mb-3">
    <label>Phone</label>
    <input type="text" name="phone" class="form-control" value="{{ patient.phone }}">
  </div>

  <div class="mb-3">
    <label>Diagnosis</label>
    <textarea name="diagnosis" class="form-control">{{ patient.diagnosis }}</textarea>
  </div>

  <button class="btn btn-primary">Update</button>
  <a href="/" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}
